<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>testHTML</title>
        <!--Phone pixel density markup-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Our FavIcon-->
        
        <!--Media Query and stylesheets-->
        
        <!--Javascript-->
    
        <!--JQuery additions-->
        
    </head>
    <body>
       
       <p class="spagoogler">Test p element</p>

        
        
    </body>                    
</html>